.button {
  padding: 20px 50px;
  border-radius: 36px;
  background-color: #041833;
  color: #fff;
  font-size: 24px;
  cursor: pointer;

  &:disabled {
    background-color: #020611;
    opacity: 0.5;
  }
}
