.cart {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  padding: 50px 100px;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 16px;
  background-color: #eff9ff;
}
