@import 'styles/breakpoints';

.header {
  position: relative;
  padding: 150px 120px 100px;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $tablet) {
    padding-top: 250px;
  }

  @media (max-width: $mobile-sm) {
    padding: 250px 50px 100px;
  }
}

.header {
  display: grid;
  grid-template-areas: 'text image';
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;

  @media (max-width: $tablet) {
    grid-template-areas: 'text' 'image';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  &-text {
    grid-area: text;
    color: #fff;

    h1 {
      font-size: 60px;
    }

    h2 {
      font-size: 25px;
    }
  }

  &-button {
    display: flex;

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }

  &-image {
    grid-area: image;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    max-width: 700px;

    img {
      width: 100%;
      border-radius: 144px;
    }
  }
}
